.card {
    background-color: var(--card-bg);
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(20, 9, 9, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 90%;
  }
  
  .symbol {
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
    color: var(--accent-color);
  }
  
  .title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    color: var(--text-color);
  }
  
  .description {
    font-size: 1rem;
    color: var(--text-secondary);
    flex-grow: 1;
    margin-bottom: 1.25rem;
  }
  
  .button {
    text-decoration: none;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    border-radius: 6px;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .button:hover {
    background-color: var(--button-hover-bg);
    transform: scale(1.05);
  }
  
  .button:active {
    transform: scale(0.95);
  }
  
  